<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/nav.css">
    <script src="/js/utils.js"></script>
</head>
<body>
    <div class="menu">
        <div class="menu__logo">
            <a href="/"><img srcset="../img/logo.png, img/logo.png" src="img/logo.png" alt="Kursy"></a>
        </div>
        <div class="menu__dropdown">
            <a><button class="menu__dropdown__btn">Kategorie &nbsp<div class="arrow arrow--down"></div></button></a>
            <div class="menu__dropdown__content">
                <script>
                    var menu = document.getElementsByClassName('menu__dropdown__content')[0];

                    dataFetch('/get_categories')
                        .then(data => {
                            for(i = 0; i < data.length; i++){
                            menu.innerHTML += "<a href='/coursesByCategory/" + data[i] + "'>" + data[i] + "</a>";
                        }
                        })
                </script>
            </div>
        </div>
        <div class="menu__search">
            <form method="GET" action="/search/">
                <input type="search" placeholder="Szukaj" name="search" class="input">
            </form>
        </div>
        <div class="menu__login">
            <a href="/login">
                <button class="btn menu__login__btn">Zaloguj się</button>
            </a>
            <a href="/register">
                <button class="btn menu__login__btn">Zarejestruj się</button>
            </a>
        </div>
        <div class="menu__logged">
            <a href="/user/ola">
                <button class="btn menu__logged__btn--user">Twoje konto</button>
            </a>
            <a href="/admin">
                <button class="btn menu__logged__btn--admin">Panel administratora</button>
            </a>
            <a href="#">
                <button class="btn menu__logged__btn">Wyloguj się</button>
            </a>
        </div>
    </div>
</body>
</html>