<!DOCTYPE html>
<html lang="en">
<head>
    {{> head}}
</head>
<body>
    {{> nav}}
    <div class="main">
        <div class="course">
            <div class="course__details">
                <a href="#" class="course__details__category"></a>
                <h1 class="course__details__name"></h1>
                <hr>
                <p class="course__details__description"></p>
            </div>
            <div class="course__purchase">
                <img class="course__purchase__img" alt="zdjęcie kursu">
                <p class="course__purchase__length"></p>
                <p class="course__purchase__price"></p>
                <input class="btn course__purchase__btn" type="button" id="sub" value="Kup teraz" onclick="action()">
                <p id="info">Aby kupić kurs zaloguj się na konto użytkownika</p>
                <p id="infoU">Już posiadasz ten kurs</p>
            </div>
            <script>
                var category = document.getElementsByClassName('course__details__category')[0];
                var courseName = document.getElementsByClassName('course__details__name')[0];
                var description = document.getElementsByClassName('course__details__description')[0];
                var img = document.getElementsByClassName('course__purchase__img')[0];
                var length = document.getElementsByClassName('course__purchase__length')[0];
                var price = document.getElementsByClassName('course__purchase__price')[0];

                dataFetch("/get_course", { "id": "{{ courseId }}" })
                    .then(data => {

                    category.innerHTML += data.category;
                    category.href = "/coursesByCategory/" + data.category + "";
                    courseName.innerHTML = data.name;
                    description.innerHTML = data.description;
                    img.src = "" + data.img + "";
                    length.innerHTML = "Długość kursu: <span>" + data.length + " h</span>";
                    price.innerHTML = "Cena kursu: <span>" + data.price + " zł</span>";
                    })

                 dataFetch("/get_user")
                    .then(data => {
                        if (data[0].role == 'user'){
                            document.getElementById('info').style.display = 'none';
                            if(data[0].courses.includes("{{ courseId }}")){
                                document.getElementById('infoU').style.display = 'inline';
                                document.getElementsByClassName('btn course__purchase__btn')[0].style.display = 'none';
                            }else{
                                document.getElementsByClassName('btn course__purchase__btn')[0].style.display = 'inline';
                                document.getElementById('infoU').style.display = 'none';
                            }
                        }
                        else {
                            document.getElementsByClassName('btn course__purchase__btn')[0].style.display = 'none';
                            document.getElementById('info').style.display = 'inline';
                            document.getElementById('infoU').style.display = 'none';
                        }
                    }, reason => {
                        document.getElementsByClassName('btn course__purchase__btn')[0].style.display = 'none';
                        document.getElementById('info').style.display = 'inline';
                        document.getElementById('infoU').style.display = 'none';
                    });

                function action(){
                    dataFetch("/purchase", { "courseId": "{{ courseId }}" })
                    location.reload();
                }
            </script>
        </div>
    </div>
</body>
</html> 