<!DOCTYPE html>
<html lang="en">
<head>
    {{> head}}
</head>
<body>
    {{> nav}}
    <div class="main">
        <div class="course">
            <div class="course__details">
                <a href="#" class="course__details__category"></a>
                <h1 class="course__details__name"></h1>
                <hr>
                <p class="course__details__description"></p>
            </div>
            <div class="course__purchase">
                <img class="course__purchase__img" alt="zdjęcie kursu">
                <p class="course__purchase__length"></p>
                <p class="course__purchase__price"></p>
                <input class="btn course__purchase__btn" type="submit" value="Kup teraz">
            </div>
            <script>
                var category = document.getElementsByClassName('course__details__category')[0];
                var courseName = document.getElementsByClassName('course__details__name')[0];
                var description = document.getElementsByClassName('course__details__description')[0];
                var img = document.getElementsByClassName('course__purchase__img')[0];
                var length = document.getElementsByClassName('course__purchase__length')[0];
                var price = document.getElementsByClassName('course__purchase__price')[0];

                dataFetch("/get_all_courses")
                    .then(data => {
                        list = data;
                        listLen = list.length - 1;
                        index = {{ courseIndex }};

                    category.innerHTML += list[index].category;
                    courseName.innerHTML = list[index].name;
                    description.innerHTML = list[index].description;
                    img.src = "" + list[index].img + "";
                    length.innerHTML = "Długość kursu: <span>" + list[index].length + " h</span>";
                    price.innerHTML = "Cena kursu: <span>" + list[index].price + " zł</span>";
                    })
            </script>
        </div>
    </div>
</body>
</html> 