<!DOCTYPE html>
<html lang="en">
<head>
    {{> head}}
    <script src="/js/index.js" defer></script>
</head>
<body>
    {{> nav}}
    <div class="main">
        <div class="courses">
            <h1>Nasze kursy</h1>
            <div class="courses__list">

            </div>
        </div>
    </div>
</body>
</html> 