<!DOCTYPE html>
<html lang="en">
<head>
    {{> head}}
</head>
<body>
    {{> nav}}
    <div class="main">
        <div class="courses">
            <h1 class="courses__category"></h1>
            <div class="courses__list">

            </div>
            <script>
                var category = document.getElementsByClassName('courses__category')[0];
                var courses = document.getElementsByClassName('courses__list')[0];

                dataFetch("/search", {"name": "{{ search }}" })
                    .then(data => {
                        for(i = 0; i < data.length; i++){
                            courses.innerHTML += "<a href='/course/" + data[i]._id + "'><div class='courses__list__item'><img src='" + data[i].img + "' alt='zdjęcie kursu'><h3>" + data[i].name + "</h3><span>" + data[i].price + " zł</span></div></a>";
                        }
                        category.innerHTML = "Wyszukiwanie: {{ search }}";
                        if(i%5 != 0){
                            courses.style.justifyContent = "flex-start";
                            courses.style.gap = "2.5vw";
                        }
                    })
            </script>
        </div>
    </div>
</body>
</html> 