<!DOCTYPE html>
<html lang="en">
<head>
    {{> head}}
</head>
<body>
    {{> nav}}
    <div class="main">
        <div class="login">
            <h2>{{ title }}</h2>
            <hr>
            <form method="POST" action="#" class="login__form">
                <div class="login__form__group">
                    <label for="username">Nazwa użytkownika</label>
                    <input type="text" name="username" class="input" required>
                </div>
                <div class="login__form__group">
                    <label for="password">Hasło</label>
                    <input type="password" name="password" class="input" required>
                </div>
                <div class="login__form__group">
                    <label for="password">Powtórz hasło</label>
                    <input type="password" name="repassword" class="input" required>
                </div>
                <div class="login__form__group">
                    <label for="admin">Typ użytkownika</label>
                    <select name="admin" id="admin" class="input" required>
                        <option value="false">Użytkownik</option>
                        <option value="true">Administrator</option>
                    </select>
                </div>
                <input type="submit" value="Zarejestruj się" class="btn">
            </form>
        </div>
    </div>
</body>
</html> 