<!DOCTYPE html>
<html lang="en">
<head>
    {{> head}}
</head>
<body>
    {{> nav}}
    <div class="main">
        <h1>Witaj {{ username }}!</h1>
        <h1>Zakupione przez Ciebie kursy :</h1>
        <div class="courses__list">

        </div>
    </div>
</body>
</html> 